@tailwind base;

@tailwind components;

@tailwind utilities;

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.header-item {
  @apply block px-8 text-xl rounded-lg text-gray-500 hover:text-black;
}

.active-header-item {
  @apply block px-8 text-xl rounded-lg text-black;
}
