@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap");

.cursive {
  font-family: "Amatic SC", cursive;
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

#app {
  /* max-width: 850px; */
  margin: 0;
  width: 100%;
}

.container-fluid {
  padding: 0;
}

.page {
  margin: 2% 20% 2% 20%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#profile {
  height: 50%;
  width: 40%;
  border-radius: 2%;
}

#logo {
  height: 100%;
  width: 15%;
}

#info {
  display: inline;
}

nav {
  padding: 20px 0 20px 0;
}

#header {
  position: sticky;
  background: rgb(255, 255, 255, 0.95);
  top: 0;
  height: 70px;
  width: 100%;
  z-index: 99;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 0;
}

.body {
  margin-top: 100px;
}

.header-item {
  color: rgb(70, 69, 69);
  text-decoration: none;
  font-size: x-large;
  padding-right: 30px;
  padding-left: 30px;
}

a {
  color: rgb(70, 69, 69);
}

.header-item:hover {
  color: black;
}

#contact-list {
  list-style-type: none;
  padding-left: 0px;
}

.contact-list-item {
  padding-top: 7px;
}

#blurb {
  padding-top: 15px;
}

.contact-icon {
  margin-right: 5px;
}
